<input type="text" id="myInput" onkeyup="app.searcher()" placeholder="Search...">
<div id="indexContainer">
    <table id="systemsListTable">
        <tr>
            <th style="width: 15%">System</th>
            <th style="width: 20%">Domain</th>
            <th>Servers</th>
            <th style="width: 10%">Status</th>
            <th style="width: 10%">Details</th>
        </tr>
    </table>
</div>

<div id="createSystemCTA" class="ctaWrapper">
    <a class="cta green" href="system/create">Create a system</a>
</div>